
<div class="jumbotron-fluid text-center">
  <div class="winter-appeal-hero">
    <div class="imageContent"><img src="assets/images/winter-relief.jpg" class="img-fluid" alt="donate to Mine Mark"></div>
    <div class="textContent">
      <div class="textContent__inner">
        <span class="animated fadeInUp wow" data-wow-delay="0.5s"><div>Help Children</div></span>
        <span class="animated fadeInUp wow" data-wow-delay="0.7s"><div>in conflict areas</div></span>
        <span class="animated fadeInUp wow" data-wow-delay="0.9s"><div>this winter</div></span>
      </div>
    </div>
  </div>
</div>

<div class="row work-list">
	<div class="col-md-8 offset-md-2  col-sm-12 col-donatetext">
	<!-- 	<h2 class="work-title font-weight-bold"> Lorem ipsum dolor sit amet consectetur </h2> -->
		<p class="work-description">This winter, help us give young people returning to Nagorno-Karabakh in Azerbaijan the Explosive Ordnance Risk Education (EORE) they need to stay safe.</p>
  </div>
  <div class="col-md-8 offset-md-2  col-sm-12 actions-wrapper" style="text-align: left;">
    <a class="donate-buttons--submit winter-appeal-buttons--submit" href="/donate">DONATE NOW!</a>
  </div>
  <div class="col-md-7 offset-md-2 col-sm-12 winter-body">
    <p>Children are at the greatest risk of landmines and other explosives, both due to their size and natural curiosity. Mine Mark counters this risk by developing <a href="/work/0">web-based and phone app games</a> to make informative and accessible EORE.</p>
    <p>
    The Azerbaijani region of Nagorno-Karabakh has been at the centre of sporadic conflict since the late 1980s. Thousands of families were forced out when violence first erupted, relocating predominantly in the capital of Baku. However, since Azerbaijan regained control  over much of the area in the last year, there are plans in place to help families that wish to resettle in their hometowns.
    </p>
    <p>
      This is an extremely difficult issue in particular for children, who almost certainly will have never lived in Nagorno-Karabakh. Any difficulties are exacerbated by the fact that as an arena of violent conflict, Nagorno Karabakh is home to thousands of landmines and other explosive remnants of war (ERW).
    </p>
    <p>
      Although landmine removal over the next decade will mean families' return will be staggered, these explosives pose a deadly risk to the returning population. As with regions all over the world, children are at the greatest risk of these explosives, in part due to their height and proximity to explosives, and in part due to their natural curiosity.
    </p>



    <h2>What will Mine Mark do?</h2>
  <p>
    Mine Mark aims to help children live as safely as possible given the threat of unexploded remnants of war. Explosive Ordnance Risk Education (EORE) is recognised in the International Mine Action Standards as one of the central pillars of humanitarian Mine Action work. Despite this, getting education to children that is adequately informative, engaging and accessible is incredibly difficult.
  </p>
  <p>
    Mine Mark aims to help solve this problem by developing simple games, either to played on an internet browser or gaming app, that can teach children to identify and learn the risks of unexploded explosives in their community. As Aylin, one of the children who benefits from our recent projects, told us “MineMark education helps me to be safe and healthy.”
  </p>

    <h2>We need your help!</h2>
  <p>
    Making the commitment this winter to donate to Mine Mark will make a huge difference in allowing us to give children the freedom to live safe and fulfilled lives. Mine Mark is composed entirely of volunteers, so you can be sure that every cent of your donation will go directly to our projects. A donation of any amount makes a huge difference in allowing us to carry out projects such as providing safe-spaces for children, direct education, and most importantly in testing and developing our Mine Mark application.
  </p>
  <p>
    If you are able to make a difference this winter, please visit <a href="/donate">www.minemark.org/donate</a>
  </p>
  </div>
</div>


