
<div class="jumbotron-fluid text-center">
  <div class="winter-appeal-hero">
    <div class="imageContent"><img src="assets/images/winter-relief.jpg" class="img-fluid" alt="donate to Mine Mark"></div>
    <div class="textContent">
      <div class="textContent__inner">
        <span class="animated fadeInUp wow">Help Children</span>
        <span class="animated fadeInUp wow">in conflict areas</span>
        <span class="animated fadeInUp wow">this winter</span>
      </div>
    </div>
  </div>
</div>

<div class="row work-list">
	<div class="col-md-8 offset-md-2  col-sm-12 col-donatetext">
	<!-- 	<h2 class="work-title font-weight-bold"> Lorem ipsum dolor sit amet consectetur </h2> -->
		<p class="work-description">This winter, help us give young people returning to Nagorno-Karabakh in Azerbaijan the Explosive Ordnance Risk Education (EORE) they need to stay safe.</p>
  </div>
  <div class="col-md-8 offset-md-2  col-sm-12 actions-wrapper" style="text-align: left;">
    <a class="donate-buttons--submit winter-appeal-buttons--submit" href="/donate">DONATE NOW!</a>
  </div>
  <div class="col-md-7 offset-md-2 col-sm-12 winter-body">
    <p>Children are at the greatest risk of landmines and other explosives, both due to their size and natural curiosity. Mine Mark counters this risk by developing <a href="/work/0">web-based and phone app games</a> to make informative and accessible EORE.</p>
  </div>
</div>


