<div class="color">
<div class="row subtitle-row">
	<div class="col-12 text-center">
		<p class="subtitle-desc">Our ultimate objective is a world where not a single human being becomes a victim of explosive remnants of war and where no-one has to fear them anymore.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-12 col-main">
		<div class="row what-row">
			<div class="col-md-6 col-sm-12">
				<h3 class="section-title"> What is going on</h3>
				<p class="description">The number of casualties due to landmines is rising since 2013 and has reached 9.439 confirmed casualties in 2016 worldwide; this is the highest number since 1999. In 2017 and 2018, the number of casualties decreased to 7.253 and 6.897 respectively. The number of undocumented casualties is significantly higher. Most of the documented casualties occur in countries with on-going conflicts like Afghanistan, Yemen, and Ukraine. 78% of all recorded casualties were civilians. Positively, the funding to clear explosive remnants of war and to educate vulnerable groups is increasing respectively. The total amount of funding in 2017 increased by 36% to US $771.5 million compared to US $467.9 million in 2016. However, most funds are utilized for demining rather than education. Although, necessary to remove landmines once and for all, demining is extremely expensive and takes decades to achieve safe living environments. Unfortunately, we do not have that time.</p>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="assets/mine-contamination-2018.jpg" loading="lazy" class="img-fluid" alt="">
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="what-row d-flex flex-md-row flex-column-reverse">
				<div class="col-md-6 col-12 ">
				<img src  ="assets/mine-mark-mission.jpg" loading="lazy" class="img-fluid" alt="">
			</div>
			<div class="col-md-6 col-12 ">
				<h3 class="section-title"> Our mission </h3>
				<p class="description"> Our mission is to reduce the number of casualties from explosive remnants of war by providing free-of-charge, and state-of-the-art Mine Risk Education for affected groups. By working together with local authorities and NGOs, we implement inclusive and sustainable projects which will increase the local populations’ awareness about explosive remnants of war.
				</p>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="row what-row ">
			<div class="col-md-6 col-12">
				<h3 class="section-title"> Our vision </h3>
				<p class="description"> Our ultimate objective is a world where not a single human being becomes a victim of explosive remnants of war and where no-one has to fear them anymore. Since the clearance of explosive remnants of war will take several hundred years, we will focus on the education of affected groups and on the localization and mapping of dangerous areas. That will fasten the removal process and it will enable local populations to avoid hazardous areas.
				</p>
			</div>
			<div class="col-md-6 col-12">
				<img src="assets/mine-mark-vision.jpg" loading="lazy" class="img-fluid" alt="">
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="what-row d-flex flex-md-row flex-column-reverse">
			<div class="col-md-6 col-sm-12">
				<img src="assets/mine-mark-methods.jpg" loading="lazy" class="img-fluid" alt="">
			</div>
			<div class="col-md-6 col-sm-12 description-col">
				<h3 class="section-title"> Our methods </h3>
				<p class="description">Our approach is unique in the sense that we create different Mine Risk Education packages for each target group. That enables them to engage actively in the education and to become ambassadors for Mine Risk Education themselves. Therefore, each educated child will educate others like friends, relatives or people that are living in the same village. We will provide local authorities and NGOs with our educational materials which will foster an inclusive and sustainable education that will influence the target group’s behavior regarding explosive remnants of war in a positive manner.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row what-row" >
	<div class="col-12 text-center  ">
		<h4 class="font-weight-bold"> Here you can find relevant documents </h4>
	</div>
	<div class="col-12 download-row">
		<div class="row mb-4 mt-4">
			<div class="col-4">
				<span>Memorandum of association and business extract</span>
			</div>
			<div class="col-4 text-center">
				<span>November 2018</span>
			</div>
			<div class="col-4 text-right">
				<i class="far fa-file-pdf"></i>
				<a href="./assets/memorandum_association_business_extract.pdf" download="business_plan" class="download">
					Download PDF
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 download-row">
		<div class="row mt-4 mb-4">
			<div class="col-4">
				<span>Afschrift akte van oprichting Mine Mark Stichting</span>
			</div>
			<div class="col-4 text-center">
				<span>November 2018</span>
			</div>
			<div class="col-4 text-right">
				<i class="far fa-file-pdf" ></i>
				<a href="./assets/afschrift_akte_van_oprichting.pdf" download="chamber_of_vommerce_extract"  class="download">
				Download PDF </a>
			</div>
		</div>
	</div>
	<div class="col-12 download-row">
		<div class="row mt-4 mb-4">
			<div class="col-4">
				<span>Uitdraai KvK Mine Mark Stichting</span>
			</div>
			<div class="col-4 text-center">
				<span>November 2018</span>
			</div>
			<div class="col-4 text-right">
				<i class="far fa-file-pdf" ></i>
				<a href="./assets/uitdraai_KvK.pdf" download="uitdraai_KvK.pdf"  class="download">
				Download PDF </a>
			</div>
		</div>
	</div>
	<div class="col-12 download-row">
		<div class="row mt-4 mb-4">
			<div class="col-4">
				<span>ANBI status</span>
			</div>
			<div class="col-4 text-center">
				<span></span>
			</div>
			<div class="col-4 text-right">
				<i class="far fa-file-pdf" ></i>
				<a href="./assets/ANBI_required_information.pdf" download="ANBI_required_information.pdf"  class="download">
				Download PDF </a>
			</div>
		</div>
	</div>
	<div class="col-12 download-row">
		<div class="row mt-4 mb-4">
			<div class="col-4">
				<span>Policy Plan</span>
			</div>
			<div class="col-4 text-center">
				<span></span>
			</div>
			<div class="col-4 text-right">
				<i class="far fa-file-pdf" ></i>
				<a href="./assets/Policy_Plan_Min_Mark Foundation.pdf" download="Policy_Plan_Min_Mark Foundation.pdf"  class="download">
				Download PDF </a>
			</div>
		</div>
  </div>
  <div class="col-12 download-row">
    <div class="row mt-4 mb-4">
      <div class="col-4">
        <span>Anual Income Statement</span>
      </div>
      <div class="col-4 text-center">
        <span>December 2019</span>
      </div>
      <div class="col-4 text-right">
        <i class="far fa-file-pdf"></i>
        <a
          href="./assets/documents/Mine_Mark_Income_Statment_2019.pdf"
          download="Mine_Mark_Income_Statment_2019.pdf"
          class="download"
        >
          Download PDF
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="color-cards">
<div class="row what-row">
	<div class="col-12">
		<h3 class="text-center cards-title"> Our Cartoons and Games</h3>
	</div>
	<div class="col-md-6 col-lg-4 col-sm-12 col-card d-flex align-items-stretch">
		<div class="card">
			<div> <img src="assets/mine-mark-cartons.jpg" alt="" loading="lazy" class="img-fluid card-img"></div>
			<div class="card-body">
			<h5 class="card-title"> Cartoons </h5>
			<p class="card-description"> At the heart of our education is a cartoon in which guidelines by the UN are being translated into easy accessible and interesting story lines. These stories feature superheroes that trigger the children's imagination and stay in their memory. </p>
		</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4 col-sm-12 col-card d-flex align-items-stretch">
		<div class="card">
			<div> <img src="assets/mine-mark-battle-game.jpg" alt="" loading="lazy" class="img-fluid card-img"></div>
			<div class="card-body">
			<h5 class="card-title"> Mine Mark Battle Game </h5>
			<p class="card-description"> The Mine Mark Battle Game combines the old game Sea Battle with a new approach for children and youngsters in landmine prone areas. The children need to think strategically and see how dangerous it is to cross a minefield. The goal is to cross the minefield before the opponent does. This is statistically not possible without "stepping" on a landmine.</p>
		</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4 col-sm-12 col-card  d-flex align-items-stretch">
		<div class="card">
			<div>
				<img src="assets/mine-mark-puzzle-game.jpg" alt="" loading="lazy" class="img-fluid card-img">
			</div>
			<div class="card-body">
				<h5 class="card-title"> Mine Mark Puzzle</h5>
				<p class="card-description"> The Mine Mark Puzzle helps to visualize crucial contexts of the cartoons and to trigger an "I saw that again" effect. This enables the children and youngsters to think about the cartoon again. Furthermore, it helps to see "the whole picture" and creates connections in the brain for logical thinking.  </p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4 col-sm-12 col-card  d-flex align-items-stretch">
		<div class="card">
			<div>
				<img src="assets/mine-mark-memory-game.jpg" alt="" loading="lazy" class="img-fluid card-img">
			</div>
			<div class="card-body">
				<h5 class="card-title "> Mine Mark Memory</h5>
				<p class="card-description"> The Mine Mark Memory Game assists the children and youngsters to memorize and recognize explosive remnants of war (ERW). It is an enjoyable and interesting way to visualize dangerous objects and/ or warning signs. </p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4 col-sm-12 col-card  d-flex align-items-stretch">
		<div class="card">
			<div>
				<img src="assets/mine-mark-board-game.jpg" alt="" loading="lazy" class="img-fluid card-img">
			</div>
			<div class="card-body">
				<h5 class="card-title "> Mine Mark Board Game </h5>
				<p class="card-description"> The Mine Risk Board Game is utilised to test the children's comprehension of live-saving correct behaviour in landmine-affected regions in a playful way. The game is based on the German board game "Mensch ärgere dich nicht". </p>
			</div>
		</div>
	</div>
</div>
</div>



