<!-- Jumbotron -->
<!-- <div class="jumbotron-fluid text-center">
     <div class="view overlay my-0 waves-light " mdbWavesEffect>
          <img [src]="work.picTop" class="img-fluid d-block w-100" alt="">
     </div>
</div> -->
<!-- Jumbotron -->

<div class="row work-detailed-row">
  <div class="col-12">
    <h2 class="work-title text-center font-weight-bold pb-3">
      {{ work.title }}
    </h2>
    <p
      class="work-description pb-2"
      *ngFor="let description of work.descriptions"
    >
      <span [innerHTML]="description.paragraph"></span>
      {{ description.paragraph }}
    </p>
  </div>
  <div *ngIf="work.video" class="col-12 videoWrapper">
    <iframe
      src="https://www.youtube.com/embed/455cK5fryDI"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-12" *ngIf="work.pictures">
    <mdb-carousel [animation]="'slide'">
      <mdb-carousel-item *ngFor="let picture of work.pictures">
        <img class="carousel" [src]="picture.carouselPic" [alt]="picture.alt" />
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
