<div class="card view animated fadeInUp wow">
  <div class="row">
    <div class="col-lg-7 col-md-6 col-12 col-mission">
      <div class="card-img">
        <img class="img-fluid" src="assets/mine_mark_children.jpg" alt="" />
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-12 text-left col-text">
      <div class="card-body">
        <h3 class="card-title text-center">Our mission</h3>
        <p class="card-description">
          We are educating and empowering our target groups by tailoring our
          educational materials to their needs in an engaging, interactive, and
          innovative manner.
        </p>
        <div class="text-center">
          <a class="btn btn-danger" [routerLink]="['/', 'what']"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card view animated fadeInUp wow" style="margin-top: 60px;">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-12 text-left col-text order-1 order-md-0">
      <div class="card-body">
        <h3 class="card-title text-center">Online exhibition</h3>
        <p class="card-description">
          By giving children a platform to tell their stories through drawings, we are able to show how their dreams are impacted by war and conflict.
        </p>
        <div class="text-center">
          <a class="btn btn-danger" href="https://www.minemarkexhibition.org"> Visit the Exhibition </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 col-12 col-mission order-0 order-md-1">
      <div class="card-img">
        <img class="img-fluid img-exhibition" src="assets/exhibition-poster-image.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- card  -->
