<div class="card view hoverable animated fadeInUp wow"  >
    <div class="row">
         <div class="col-lg-7  col-md-6 col-12 col-mission">
           <div class="card-img "> <img class=" img-fluid" src="assets/mine_mark_children.jpg"  alt="">
           </div>
        </div>
        <div class="col-lg-5 col-md-6 col-12 text-left col-text">
            <div class="card-body">
                <h3 class="card-title text-center">  Our mission </h3>
                <p class="card-description">  Our mission is to reduce the number of casualties from explosive remnants of war by providing free-of-charge, and state-of-the-art Mine Risk Education for affected groups. </p>
                <div class="text-center"><a class="btn btn-danger " [routerLink]="['/', 'what']"> Read more </a></div>
                
            </div>
        </div>
    </div> 
</div> <!-- card  -->