<div class="color">
<div class="jumbotron-fluid text-center">
    <div class="view overlay my-0 waves-light " mdbWavesEffect>
        <img src="assets/mine-mark-donate.JPG" class="img-fluid" alt="donate to Mine Mark">
        <div class="text-block">
            <h1 class="white-text"> Donate </h1>
        </div>
    </div>
</div>

<div class="row work-list">
	<div class="col-md-6 col-12 col-donatetext ">
	<!-- 	<h2 class="work-title font-weight-bold"> Lorem ipsum dolor sit amet consectetur </h2> -->
		<p class="work-description">Since we are a non-profit foundation, we need your support to protect as many children as possible. Please help us and Donate Now.</p>
    <p class="donate-description">The Dutch tax Authorities have officially recognised the MineMark Foundation as a public benefit organisation <i>(Algemeen Nut Beogende Instelling or ANBI)</i>. </p>
    <p class="donate-description">Under the ANBI status, dontations to the MineMark Foundation are tax-deductible. Also, the foundation is exempted from taxes on gifts or inheritances we should receive.</p>
  </div>
	<div class="col-md-6 col-12">
		<div class="bank-details">
      <h2 class="font-weight-bold text-center"> DONATE NOW</h2>
      <p>Please select an amount or use the input field to donate an amount of your choosing.</p>
      <span class="donate-buttons--wrapper">
        <button (click)="onDonate(20, '0')" class="donate-buttons--amount" [ngClass]="{'active': selectedAmount === '0'}">€20,-</button>
        <button (click)="onDonate(40, '1')" class="donate-buttons--amount" [ngClass]="{'active': selectedAmount === '1'}">€40,-</button>
        <button (click)="onDonate(60, '2')" class="donate-buttons--amount" [ngClass]="{'active': selectedAmount === '2'}">€60,-</button>
      </span>
      <input type="number" class="donate-buttons--input" placeholder="Or any other amount" [ngModel]='text'  min="1" (ngModelChange)='onInputChange($event)'>
      <div style="margin-top: 1rem;">{{ donateActivity }}</div>

      <button (click)="onDonateSubmit()" class="donate-buttons--submit">DONATE {{donateButtonText}}</button>
      <!-- <div class="details">
      <h5 class="subheader">Or use our Bank details</h5>
        <ul class="list-group">
				<li class="list-group-item mb-3">Name of Bank: ABN AMRO </li>
				<li class="list-group-item mb-3">Account Holder: MINE MARK STICHTING</li>
				<li class="list-group-item mb-3">IBAN: NL09 ABNA 0837 0035 04</li>
				<li class="list-group-item mb-3">Reference: DONATE to EDUCATE</li>
      </ul>
    </div> -->
		</div>
	</div>
</div>


