<div class="color">
<div class="jumbotron-fluid text-center">
    <div class="view overlay my-0 waves-light " mdbWavesEffect>
        <img src="assets/mine-mark-donate.JPG" class="img-fluid" alt="donate to Mine Mark">
        <div class="text-block">
            <h1 class="white-text"> Donate </h1>
        </div>
    </div>
</div>

<div class="row work-list">
	<div class="col-md-6 col-12 col-donatetext "> 
	<!-- 	<h2 class="work-title font-weight-bold"> Lorem ipsum dolor sit amet consectetur </h2> -->
		<p class="work-description">Since we are a non-profit foundation, we need your support to protect as many children as possible. Please help us and Donate Now.</p>
	</div>
	<div class="col-md-6 col-12"> 
		<div class="bank-details">
			<h2 class="font-weight-bold text-center"> DONATE NOW</h2>
			<ul class="list-group">
				<li class="list-group-item mb-3">Name of Bank: ABN AMRO </li>
				<li class="list-group-item mb-3">Account Holder: MINE MARK STICHTING</li>
				<li class="list-group-item mb-3">IBAN: NL09 ABNA 0837 0035 04</li>
				<li class="list-group-item mb-3">Reference: DONATE to EDUCATE</li>
			</ul>
		</div>
	</div>
</div>


