.text-block {
  position: absolute;
  top: 60%;
  left: 10%;
}

.text-block h1 {

  background: rgba(223, 1, 19, 0.7);
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  font-size: 52px;

}

.work-list {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.work-title {
  font-size: 28px;
}

.work-description {
  font-size: 21px;
}

.donate-buttons--wrapper {
  margin-right: 0.8rem;
  padding-bottom: 0.8rem;
}

.donate-buttons--amount {
  transition: all 0.3s;
  border-left: none;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  padding: 5px 10px 5px;
  background-color: white;
  margin: 0;
}

.donate-buttons--amount:focus {
  outline: none;
}

.donate-buttons--amount.active {
  background: #ff3547;
  color: #fff;
  border-color: #ff3547;
}

.donate-buttons--amount:first-child {
  border-left: 1px solid #c1c1c1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.donate-buttons--amount:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.donate-buttons--input {
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 5px;
}

.subheader {
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  color: #ccc;
}

.donate-buttons--submit {
  margin-top: 1rem;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  display: block;
  background-color: #ff3547;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
}

.bank-details {
  border: 2px solid #eeee;
  padding: 1rem;
  background-color: #f9f9f9;
}

.bank-details h2 {
  color: #ff3547;
   font-size: 28px;
}

.col-donatetext {
  /* display: flex; */
  align-items: center
}

.donate-description {
  font-size: 17px;
  opacity: 0.85;
}

/********** Extra Large devices only **********/
@media (min-width: 1200px) {

}

/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

.text-block h1 {
  font-size: 42px;
}

.work-list {
   width: 85%;
}


}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {

.text-block h1 {
  font-size: 32px;
}

.work-list {
   width: 85%;
}

.work-title, .bank-details h2 {
  font-size: 26px;
}

}

/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

.text-block h1 {
  font-size: 28px;
}

.work-list {
   width: 80%;
}

.work-title, .bank-details h2 {
  font-size: 24px;
}

.work-description {
  font-size: 18px;
}

}
/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {

.text-block h1 {
  font-size: 22px;
}

.work-list {
   width: 80%;
}

.work-title, .bank-details h2 {
  font-size: 24px;
}

.work-description {
  font-size: 18px;
}

}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {

.text-block h1 {
  font-size: 22px;

}

.work-list {
   width: 85%;
}

.work-title, .bank-details h2 {
  font-size: 21px;
}

.work-description {
  font-size: 18px;
}

}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

.text-block h1 {
  font-size: 18px;

}

.text-block {
  top: 50%;
}

.work-list {
   width: 85%;
}
.work-title, .bank-details h2 {
  font-size: 18px;
}

.work-description {
  font-size: 16px;
}


}
