<div class="supporters-row" >
    <div  class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper mr-0">
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/conclusion-logo.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/bureau-box-logo.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow" >
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/nederland-logo.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/start-logo.png" alt="" class="img-fluid " height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/goedgoed.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/zin-logo.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/logo-universitetit2.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/logo.spindle.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/anama-logo.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
            <div class="swiper-slide text-center animated fadeIn wow">
                <div class="zoom">
                    <span class="img">
                        <img src="assets/logos/rotary-logo.png" alt="" class="img-fluid" height="150" width="150">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev swiper-button-black" [hidden]="config.navigation === false"></div>
    <div class="swiper-button-next swiper-button-black" [hidden]="config.navigation === false"></div>
</div>
