<div class="home-row-color row">
	<div class="col-12">
	    <div class="row home-row d-flex flex-md-row flex-column-reverse">
		    <div class="col-md-5 col-12 hom-col">
			    <div class="home-description">
				    <h6 class="home-title animated zoomIn wow"> Protection of children, youngsters and other vulnerable groups from harm by landmines, cluster ammunitions and other explosive remnants of war. </h6>
				<!--     <p class="home-content">   We are implementing a mine risk education project which educates and engages children and youngsters with cartoons, games and videos.</p> -->
			    </div>
		    </div>
		    <div class="col-md-7 col-12">
			    <div class="heroes">
				    <img src="assets/mine_mark_heroes2.jpg" loading="lazy" alt="responsive image" height="731" width="1200" class="img-fluid animated fadeInRight wow ">
			    </div>
		    </div>
	    </div>
	</div>
</div>
<div class="row mission-home">
	<div class="col-12">
		<app-mission-home></app-mission-home>
	</div>
</div>
<div class="row team-home">
	<div class="col-12">
		<h3 class="section-title text-center"> Meet the team </h3>
		  <h6 class="section-subtitle text-center">In this section, you can find more information about the people behind the Mine Mark Project </h6>
          <app-team-home></app-team-home>
          <div class="text-center">
            <a class="btn btn-danger" [routerLink]="['/', 'network']"> Read more </a>
        </div>
    </div>
</div>
<div class="work-home row">
	<div class="col-12">
		<h3 class="section-title text-center"> Our Work </h3>
	    <h6 class="section-subtitle text-center">In this section, you find an overview of our current and future projects</h6>
		<div class="work-list cards">
			<app-work-item class="work-item card hoverable animated fadeInUp wow"
			 *ngFor="let workEl of works; let i = index;"
             [work]="workEl"
             [index]="i"
             style="cursor: pointer">
      	    </app-work-item>

      	</div>
      	<div class="text-center">
      		<a class="btn btn-danger mt-5 px-5" [routerLink]="['/', 'work']"> See all </a></div>
      	</div>
</div>
<div class="jumbotron-fluid">
	<div class="view my-0 waves-light " mdbWavesEffect>
		<img src="assets/school.jpg" loading="lazy" class="img-fluid" alt="">
    </div>
</div>

<div class="row supporters-home">
    <div class="col-12 ">
    	<h3 class="section-title text-center"> Our Supporters </h3>
         <h6 class="section-subtitle-supporters text-center"> We can not do this alone <br> We need your help </h6>
        <app-supporters></app-supporters>
    </div>
</div>


