.work-item-row {
	width: 75%;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
}


.less {
  max-height: 60px;
}

.content {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 18px;
  white-space: nowrap;
}

.read-more:link, .read-more:visited{
  text-decoration: none;
  font-weight: 400;
  color:  #ff3547;

}

.read-more .faAngleDoubleRight {
  position: relative;
  top: 1px;
}

 .read-more {
  font-size: 16px;
  font-weight: 400;
 }

 .card-title {
  font-size: 18px;
  line-height: 24px;
 }


/********** Extra Large devices only **********/
@media (min-width: 1200px) {


}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {




}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {




}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {




}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {



}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {


}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {


 .card-title {
  font-size: 16px;
 }


}










