
<!-- Jumbotron -->
<div class="jumbotron-fluid text-center">
	<div class="view overlay my-0 waves-light" mdbWavesEffect>
		<img src="assets/mine-mark-donate.JPG" class="img-fluid img" alt="" height="" width="">
		<div class="text-block">
			<h1 class="white-text">Publications &amp; media</h1>
		</div>
	</div>
</div>

<!-- /Jumbotron -->
<div class="row subtitle-row">
  <div class="col-12 text-center">
    <p class="subtitle-desc">We create new publications on a fairly regular basis, including video's and other media. Check back now and then to find new content.</p>
  </div>
</div>

<div class="container">
  <div class="row videoRow">
    <div class="col-12">
      <div class="videoIntro">
        <h4 class="font-weight-bold">Everyone needs education - even MINE MARK volunteers</h4>
        <p class="description">
          This video shows how MINE MARK volunteers participate in a Mission Orientation Course provided by the Dutch Combat Engineers. These courses normally prepare soldiers for their dangerous missions; however, this time they provided the MINE MARK team with more knowledge about the classification of landmines and other explosive remnants of war.
        </p>
        </div>
      <div class="col-12" style="text-align: center;" class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/6B1V0VWtHr8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="section color">
  <div class="row what-row">
    <div class="col-12 text-center  ">
      <h4 class="font-weight-bold">Here you can find relevant documents</h4>
    </div>
    <div class="col-12 download-row">
      <div class="row mb-4 mt-4">
        <div class="col-4">
          <span>Memorandum of association and business extract</span>
        </div>
        <div class="col-4 text-center">
          <span>November 2018</span>
        </div>
        <div class="col-4 text-right">
          <i class="far fa-file-pdf"></i>
          <a
            href="./assets/memorandum_association_business_extract.pdf"
            download="business_plan"
            class="download"
          >
            Download PDF
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 download-row">
      <div class="row mt-4 mb-4">
        <div class="col-4">
          <span>Afschrift akte van oprichting Mine Mark Stichting</span>
        </div>
        <div class="col-4 text-center">
          <span>November 2018</span>
        </div>
        <div class="col-4 text-right">
          <i class="far fa-file-pdf"></i>
          <a
            href="./assets/afschrift_akte_van_oprichting.pdf"
            download="chamber_of_vommerce_extract"
            class="download"
          >
            Download PDF
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 download-row">
      <div class="row mt-4 mb-4">
        <div class="col-4">
          <span>Uitdraai KvK Mine Mark Stichting</span>
        </div>
        <div class="col-4 text-center">
          <span>November 2018</span>
        </div>
        <div class="col-4 text-right">
          <i class="far fa-file-pdf"></i>
          <a
            href="./assets/uitdraai_KvK.pdf"
            download="uitdraai_KvK.pdf"
            class="download"
          >
            Download PDF
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 download-row">
      <div class="row mt-4 mb-4">
        <div class="col-4">
          <span>ANBI status</span>
        </div>
        <div class="col-4 text-center">
          <span></span>
        </div>
        <div class="col-4 text-right">
          <i class="far fa-file-pdf"></i>
          <a
            href="./assets/ANBI_required_information.pdf"
            download="ANBI_required_information.pdf"
            class="download"
          >
            Download PDF
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 download-row">
      <div class="row mt-4 mb-4">
        <div class="col-4">
          <span>Policy Plan</span>
        </div>
        <div class="col-4 text-center">
          <span></span>
        </div>
        <div class="col-4 text-right">
          <i class="far fa-file-pdf"></i>
          <a
            href="./assets/Policy_Plan_Min_Mark Foundation.pdf"
            download="Policy_Plan_Min_Mark Foundation.pdf"
            class="download"
          >
            Download PDF
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


